@media (max-width: 1200px) {
  .container-header {
    padding-left: 40px;
    padding-right: 40px;
  }
  .banner-title {
    max-width: 600px;
  }
  .banner-description {
    max-width: 500px;
  }
  .logo-header {
    width: 259px;
  }
  .menu-list {
    gap: 30px;
  }
  .section {
    max-width: 500px;
  }
  .container-desc-odd {
    padding-right: 0;
  }
  .container-decs-even {
    padding-left: 0;
    min-height: 432px;
  }
  .section-segmentation {
    max-width: 500px;
  }
  .caption-number-odd {
    font-size: 40px;
  }
  .caption-number-2 {
    font-size: 40px;
  }
  .img-odd-adap {
    width: 603px;
  }
  .img-even {
    width: 603px;
  }
}
@media (max-width: 985px) {
  body.lock {
    height: 100vh;
    overflow-y: hidden;
  }
  body.lock {
    overflow: hidden;
  }
  .container-header {
    padding-left: 25px;
    padding-right: 25px;
  }
  .logo-header {
    width: 307px;
  }
  .banner-cont {
    margin-left: 0;
  }
  .banner-title {
    margin-top: 80px;
  }
  .menu-row,
  .header-btn-group {
    display: none;
  }
  .nav-button {
    display: inline-flex;
    position: absolute;
    align-items: center;
    right: 16px;
    padding: 15px 14.5px 15px 29px;
    font-size: 25px;
  }
  .open .menu-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    font-size: 25px;
    padding-left: 25px;
    padding-top: 100px;
  }
  .icon-menu {
    width: 26px;
  }
  .icon-menu.active {
    transform: rotate(90deg);
    transition: all 0.3s ease 0s;
  }
  .menu-list.active {
    top: 0;
    transition: all 0.3s ease 0s;
  }
  .btn-navigation-menu {
    display: block;
    margin-top: 176px;
    position: fixed;
    background-color: #fff;
    border-radius: 200px;
    color: white;
    background: #3a36ec;
    padding: 20px 24px 20px 48px;
    width: 328px;
    top: -100%;
    left: 16px;
  }
  .logo {
    position: absolute;
    left: 25px;
    z-index: 3;
  }
  .btn-navigation-menu.active {
    top: 150px;
    transition: all 0.3s ease 0s;
  }

  .img-odd-adap {
    width: 503px;
  }
  .img-even {
    width: 463px;
  }
  .img-even-adap {
    width: 463px;
  }
  .container-form {
    padding-left: 0;
    padding-right: 0;
  }
  .number-odd {
    width: 50px;
  }
  .number-even {
    width: 50px;
  }
  .form-start {
    width: 635px;
  }
  input[type="email"] {
    width: 571px;
  }
  textarea {
    width: 571px;
  }
  input[type="text"] {
    width: 280px;
  }

  .container-last {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header_inner-last {
    flex-direction: column;
    gap: 15px;
  }
}
@media (max-width: 768px) {
  body.lock {
    height: 100vh;
    overflow-y: hidden;
  }
  .container-desc-odd {
    flex-direction: column;
    padding-left: 0;
    min-height: auto;
    margin-top: 30px;
    
    margin-right: 16px;
  }
  .container-decs-even {
    flex-direction: column;
    margin-top: 30px;
    min-height: auto;
  }
  .section {
    max-width: none;
  }
  .img-even {
    order: 1;
  }
  .img-even-adap {
    margin-left: 280px;
    width: 443px;
  }
  .img-odd-adap {
    width: 443px;
  }
  .img-odd {
    margin-top: 0;
  }
  .container-form{
    margin-top:30px ;
  }
}

@media (max-width: 720px) {
  body.lock {
    height: 100vh;
    overflow-y: hidden;
  }
  .menu-row,
  .header-btn-group {
    display: none;
  }
  .nav-button {
    display: inline-flex;
    position: absolute;
    align-items: center;
    right: 16px;
    padding: 4px 8px 4px 16px;
    font-size: 16px;
  }

  .logo {
    position: absolute;
    left: 16px;
  }

  .open .menu-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    padding: 80px 0 20px 16px;
  }

  .icon-menu-burger {
    margin-left: 180px;
    
  }
  .icon-menu.active {
    transform: rotate(90deg);
    transition: all 0.3s ease 0s;
  }

  .logo {
    position:absolute;
    z-index: 3;
  }
  .menu-list.active {
    top: 0;
    transition: all 0.3s ease 0s;
  }

  .btn-navigation-menu.active {
    margin-top: 120px;
    transition: all 0.3s ease 0s;
  }
  .btn-navigation-menu {
    display: block;
    margin-top: 176px;
    position: fixed;
    background-color: #fff;
    border-radius: 200px;
    color: white;
    background: #3a36ec;
    padding: 8px 16px 8px 24px;
    width: 328px;
    top: -100%;

    left: 16px;
  }
  

  .banner-cont {
    flex-direction: column;
    min-height: 600px;
    margin-left: 20px;
  }
  .container {
    background-image: url(../images/banner-720px.png);
    background-position: right;

    background-color: #e4ebfd;
    background-repeat: no-repeat;
    background-size: auto;
    margin-left: 16px;
    margin-right: 16px;
    padding: 0;
    border-radius: 30px;
  }

  .banner-title {
    margin-top: 39px;
    font-size: 32px;
    line-height: 38.4px;
    margin-bottom: 12px;
    width: 288px;
  }
  .banner-description {
    font-size: 16px;
    line-height: 22.4px;
    margin-bottom: 24px;
    width: 288px;
  }

  .banner-btn-group {
    margin-top: 0;
    font-size: 16px;
  }
  .light-none-border {
    padding: 8px 24px;
  }
  .dark {
    padding: 8px 24px;
  }
  .container-question {
    white-space: nowrap;
    max-width: 100%;
  }
  .text-quastion {
    font-size: 24px;
  }
  .container-desc-odd {
    flex-direction: column;
    align-items: center;
    margin:0 16px 0 16px;
    padding-left: 0;
    padding-right: 0;
    min-height: 432px;
    padding-top: 0;
  }
  .container-decs-even {
    flex-direction: column;
    align-items: center;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 60px;
    padding-left: 0;
    padding-right: 0;
    
  }

  .number-title-wrap {
    margin-left: 0;
  }
  .img-odd {
    margin: 0;
    width: 328px;
    height: 236px;
    padding-left: 0;
    padding-right: 0;
    height: 268px;
  }
  .img-even {
    margin-left: 0;
  }

  .img-odd-adap {
    width: 328px;
    height: 236px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
  }

  .section {
    margin-top: 60px;

    width: 328px;
    height: 164px;
  }
  .icon{
    width: 12px;
    height: 10px;
    margin-left: 16px;
  }
  .btn-navigation{
    padding: 8px 16px 8px 24px;
    max-width: 152px;
    font-size: 16px;
   
  }
  .caption-number-odd,
  .caption-number-2 {
    font-size: 28px;
    margin-left: 12px;
  }
  .number-odd,
  .number-even {
    width: 40px;
    height: 40px;
  }
  .desc-number-odd,
  .desc-number-even {
    font-size: 16px;
    width: 328px;
    height: 48px;
    margin-bottom: 24px;
    margin-top: 12px;
  }
  .logo-header {
    width: 194.59px;
    height: 24px;
  }
  .img-even-adap {
    width: 328px;
    height: 236px;
    order: 1;
    margin:32px 0 0 0;
  }
  .img-even {
    width: 328px;
   
  }

  
  .container-form {
    padding: 40px 16px 40px 16px;
    min-height: 524px;
    max-width: 100%;
  }

  .form-start {
    width: 328px;
    height: 444px;
  }
  .dws-input {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  input[type="text"],
  input[type="email"] {
    width: 296px;
    height: 40px;
    margin-top: 0;
    margin-bottom: 8px;
    margin-left: auto;
    margin-right: auto;
  }

  textarea {
    width: 296px;
    height: 160px;
    margin-bottom: 16px;
  }
  .title-form {
    font-size: 28px;
    padding-top: 0;
  }
  .send-form {
    padding: 8px 24px;
    font-size: 16px;
  }
  form {
    padding-left: 16px;
    padding-right: 16px;
  }
  .container-last {
    max-width: 360px;

    padding-left: 16px;
    padding-right: 16px;
  }

  .logo-footer {
    width: 194.59px;
    height: 24px;
    margin: 0 auto;
    margin-left: 14.2px;
  }

  .header_inner-last {
    max-width: 223px;
    margin-top: 40px;
    display: block;
    min-height: 92px;
    margin-left: 52px;
  }
  .menu_list_last {
    gap: 24px;
    margin: 0 auto;
    display: inline;
    margin-top: 20px;
  }
  .menu_link_1 {
    display: flex;
    gap: 24px;
    line-height: 20.11px;
    margin-left: 8px;
  }
  .menu_link_2 {
    display: flex;
    gap: 24px;
    margin-top: 8px;
    margin-left: 21px;
  }
  .footer-last {
    display: block;
    text-align: center;
    width: 207px;
    font-size: 14px;
    margin: 20px auto;
  }
  .contacts {
    height: 44px;
    margin-top: 20px;
  }
  .company {
    padding-top: 16px;
  }
}
