html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
  font-family: "Source Sans Pro 2";
}
@font-face {
  font-family: "Source Sans Pro";
  src: local("Source Sans Pro SemiBold"), local("SourceSansPro-SemiBold"),
    url(../fonts/SourceSansPro-SemiBold.woff2) format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Source Sans Pro 2";
  src: local("Source Sans Pro Regular"), local("SourceSansPro-Regular"),
    url(../fonts/SourceSansPro-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: local("roboto regular"), local("roboto-regular"),
    url(../fonts/roboto-regular.woff2) format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
  font-family: "Source Sans Pro";
  font-size: 18px;
}
h1,
h2,
h3 {
  font-family: "Source Sans Pro";
}
.icon {
  margin-left: 16px;
}
.menu {
  display: flex;
  align-items: center;
}
.container {
  max-width: 1600px;
  margin: 0 auto;
  padding-left: 80px;
  padding-right: 80px;
}
.header_inner {
  min-height: 94px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu-row {
  margin-left: 40px;
}
.menu_list {
  display: flex;
  gap: 40px;
  color: #0d0f3a;
}
.menu_item {
  font-weight: 400;
}
.header-btn-group {
  margin-left: 481px;
  display: flex;
  gap: 12px;
}

.light {
  background-color: #fff;
  border: 1px solid #3a36ec;
  border-radius: 200px;
  color: #3a36ec;
  padding: 12px 32px;
  text-align: center;
  white-space: nowrap;
}
.dark {
  background-color: #fff;
  border-radius: 200px;
  color: white;
  background: #3a36ec;
  padding: 12px 32px;
  text-align: center;
  white-space: nowrap;
}
.banner {
  background-image: url(../images/Rectangle\ 3684.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
}
.banner-cont {
  min-height: 700px;
  color: #0d0f3a;
  max-height: 1400px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-left: 40px;
}

.banner-title {
  margin-bottom: 20px;
  font-family: "Source Sans Pro";
  font-size: 50px;
  line-height: 80px;
  font-weight: 600;
  margin-top: 120px;
  margin-bottom: 24px;
  max-width: 700px;
}
.banner-description {
  font-size: 15px;

  line-height: 30px;
  font-weight: 400;
  margin-bottom: 20px;
  max-width: 650px;
  margin-bottom: 40px;
}
.banner-btn-group {
  margin-top: 20px;
  display: flex;
  gap: 12px;
}
.light-none-border {
  background-color: #fff;
  border-radius: 200px;
  color: #3a36ec;
  padding: 12px 32px;
  text-align: center;
  white-space: nowrap;
}
/* .btn3 {
  font-family: "Source Sans Pro";
  background-color: #fff;

  border-radius: 200px;
  color: #3a36ec;
  padding: 12px 32px;
}
.btn4 {
  font-family: "Source Sans Pro";
  background-color: #fff;
  border-radius: 200px;
  color: white;
  background: #3a36ec;
  padding: 12px 32px;
} */

.container-question {
  max-width: 100%;
  margin: 0 auto;
  padding-left: 80px;
  padding-right: 80px;
  min-height: 160px;
  background-color: #e4ebfd;
  margin-top: 100px;
}
.text-quastion {
  font-size: 30px;
  font-family: "Source Sans Pro";
  display: flex;
  justify-content: center;
  align-items: center;
  height: 160px;
}

.container-desc-odd {
  display: flex;
  max-width: 1600px;
  margin: 0 auto;
  padding-left: 80px;
  padding-right: 80px;
  min-height: 617px;
}
.number-title-wrap {
  display: flex;
  align-items: center;
}
.section {
  margin-top: 210px;
}
.desc-number-1,
.desc-number-3,
.desc-number-4 {
  margin-top: 24px;
  font-size: 22px;
  max-width: 588px;
  margin-bottom: 54px;
}
.btn-navigation {
  font-family: "Source Sans Pro";
  background-color: #fff;
  border-radius: 200px;
  color: white;
  background: #3a36ec;
  padding: 17px 32px;
}
.img-odd {
  margin-left: auto;
  margin-top: 100px;
}
.caption-number-1,
.caption-number-3 {
  margin-left: 24px;
  font-size: 48px;
}

.container-decs-even {
  display: flex;
  max-width: 1600px;
  margin: 0 auto;
  padding-left: 80px;
  padding-right: 80px;
  min-height: 567px;
}
.caption-number-2 {
  margin-left: 24px;
  font-size: 48px;
}
.img-even {
  margin-top: 50px;
}
.number-title-wrap-number-2,
.number-title-wrap-number-4 {
  display: flex;
  align-items: center;
}
.section-segmentation {
  margin-top: 160px;
}

.desc-number-2 {
  margin-top: 24px;
  font-size: 22px;
  max-width: 588px;
  margin-bottom: 57px;
}

.container-form {
  width: 100%;
  margin: 0 auto;
  padding-left: 80px;
  padding-right: 80px;
  min-height: 752px;
  background-color: #e4ebfd;
  padding-top: 100px;
  text-align: center;
  color: #d9d8d8;
}
.form-start {
  width: 764px;
  height: 552px;
  background: #f2f4ff;
  border-radius: 20px;
  box-shadow: 0px 4px 20px 0px rgba(0, 109, 255, 0.1);
  margin: 0 auto 0 auto;
  font-family: "Roboto";
}

.send-form {
  font-family: "Source Sans Pro";
  font-size: 18px;
  background-color: #fff;
  border-radius: 200px;
  color: white;
  background: #3a36ec;
  padding: 16px 48px;
  border: none;
  margin-left: auto;
}

.def-btn {
  float: left;
  margin-left: 35px;
}

input[type="text"] {
  width: 342px;
  height: 46px;
  border: none;
  border-radius: 8px;
  margin-bottom: 16px;
  margin-top: 44px;
  outline: none;
  font-family: "Roboto";
  color: #8d9ab5;
  padding-left: 16px;
  border: 1px solid #d4e0f7;
}
input[type="email"] {
  display: flex;
  width: 700px;
  height: 46px;
  border: none;
  border-radius: 8px;
  margin-bottom: 16px;
  margin-left: 32px;
  outline: none;
  font-family: "Roboto";
  color: #8d9ab5;
  padding-left: 16px;
  border: 1px solid #d4e0f7;
}
textarea {
  width: 700px;
  height: 160px;
  border: 1px;
  border-radius: 8px;
  margin-bottom: 44px;
  outline: none;
  resize: none;
  color: #8d9ab5;
  padding-left: 16px;
  padding-top: 8px;
  border: 1px solid #d4e0f7;
}
.dws-input {
  display: flex;
  justify-content: space-between;
  margin-left: 32px;
  margin-right: 32px;
}
.title-form {
  color: #0d0f3a;
  font-size: 48px;
  text-align: start;
  margin-left: 32px;
  padding-top: 32px;
  line-height: 62px;
  font-family: "Source Sans Pro";
}

.container-last {
  width: 1600px;
  margin: 0 auto;
  padding-left: 80px;
  padding-right: 80px;
}
.header_inner-last {
  min-height: 37px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
}
.menu_list_last {
  font-size: 16px;
  display: flex;
  gap: 40px;
  color: #0d0f3a;
}
.footer {
  display: flex;
  justify-content: space-between;
  color: #525259;
  min-height: 52px;
  margin-top: 24px;
  padding-bottom: 60px;
  font-size: 16px;
}
.contacts {
  width: 201px;
  height: 52px;
  margin-bottom: 0;
  text-decoration: underline;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.company {
  padding-top: 32px;
}
