html {
  box-sizing: border-box;
 
}
*,
*::after,
*::before {
  box-sizing: inherit;
  font-family: 'Source Sans Pro 2';
}
@font-face {
  font-family: 'Source Sans Pro';
  src: local('Source Sans Pro SemiBold'), local('SourceSansPro-SemiBold'),
    url(../fonts/SourceSansPro-SemiBold.woff2) format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Source Sans Pro 2';
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'),
    url(../fonts/SourceSansPro-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
 
}
h1, h2, h3 {
  font-family: 'Source Sans Pro';
}
.icon {
  margin-left: 16px;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding-left: 80px;
  padding-right: 80px;
}
.header_inner {
  min-height: 94px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu_list {
  font-family: "Source Sans Pro";
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 49px;
  margin-left: 49px;
}
.menu_item {
  font-weight: 400;
}

.btn1 {
  font-family: "Source Sans Pro";

  background-color: #fff;
  border: 1px solid #3a36ec;
  border-radius: 200px;
  color: #3a36ec;
  padding: 12px 32px;
  display: flex;
  align-items: center;
  gap: 12px;
  margin-left: auto;
  display: inline-block;
}
.btn2 {
  font-family: "Source Sans Pro";
  background-color: #fff;
  border-radius: 200px;
  color: white;
  background: #3a36ec;
  padding: 12px 32px;
  display: flex;
  align-items: center;
  gap: 12px;
  margin-left: auto;
  display: inline-block;
}
.banner {
  background-image: url(../images/Rectangle\ 3684.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
}
.banner-cont {
  min-height: 700px;
  color: #0d0f3a;
  max-height: 1400px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-left: 40px;
}

.banner-title {
  margin-bottom: 20px;
  font-family: 'Source Sans Pro';
  font-size: 50px;
  line-height: 80px;
  font-weight: 600;
  margin-top: 120px;
  margin-bottom: 24px;
  max-width: 700px;
}
.banner-text {
  font-size: 15px;

  line-height: 30px;
  font-weight: 400;
  margin-bottom: 20px;
  max-width: 650px;
  margin-bottom: 40px;
}
.btn-second {
  margin-top: 20px;
}
.btn3 {
  font-family: 'Source Sans Pro';
  background-color: #fff;
  
  border-radius: 200px;
  color: #3a36ec;
  padding: 12px 32px;
}
.btn4 {
  font-family: 'Source Sans Pro';
  background-color: #fff;
  border-radius: 200px;
  color: white;
  background: #3a36ec;
  padding: 12px 32px;
}
.blog-empty {
  max-width: 1600px;
  margin: 0 auto;
  padding-left: 80px;
  padding-right: 80px;
  content: "";
  min-height: 100px;
}
.container-quastion {
  max-width: 1600px;
  margin: 0 auto;
  padding-left: 80px;
  padding-right: 80px;
  min-height: 160px;
  background-color: #e4ebfd;
}
.text-quastion {
  font-size: 30px;
  font-family: "Source Sans Pro";
  display: flex;
  justify-content: center;
  align-items: center;
  height: 160px;
}

.container-desc{
  display: flex;
  max-width: 1600px;
  margin: 0 auto;
  padding-left: 80px;
  padding-right: 80px;
  min-height: 617px;
}
.number-title{
  display: flex;
  align-items: center;
}
.footer{
  margin-top:210px;
}
.text-1{
  margin-top: 24px;
  font-size:22px;
  max-width:588px ;
  margin-bottom: 54px;
}
.btn-blue{
  
  
  font-family: 'Source Sans Pro';
  background-color: #fff;
  border-radius: 200px;
  color: white;
  background: #3a36ec;
  padding: 17px 32px;
 
}
.img-audience{
  margin-left: auto;
  margin-top: 100px;
}
.title-1{
  margin-left: 24px;
  font-size: 48px;
}

.container-decs-2{
  display: flex;
  max-width: 1600px;
  margin: 0 auto;
  padding-left: 80px;
  padding-right: 80px;
  min-height: 567px;

}
.img-segmentation{
 margin-top: 50px;
}
.number-title-2{
  display: flex;
  align-items: center;
  
}
.footer-2{
  margin-top:160px;
 
}
.btn-blue-2{
  
  font-family: 'Source Sans Pro';
  
  border-radius: 200px;
  color: white;
  background: #3a36ec;
  padding: 17px 32px;

}
.text-2{
  margin-top: 24px;
  font-size:22px;
  max-width:588px ;
  margin-bottom: 57px;
}

.container-form{
 
  max-width: 1600px;
  margin: 0 auto;
  padding-left: 80px;
  padding-right: 80px;
  min-height: 752px;
  background-color:#E4EBFD;
 
}



.form-start{

  max-width: 764px;
  min-height: 552px;
  background-color:#C2D7FF;
  border-radius: 20px;
 
}