html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
  font-family: 'Source Sans Pro 2';
}
@font-face {
  font-family: 'Source Sans Pro';
  src: local('Source Sans Pro SemiBold'), local('SourceSansPro-SemiBold'),
    url('../fonts/SourceSansPro-SemiBold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Source Sans Pro 2';
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'),
    url('../fonts/SourceSansPro-Regular.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}



h1,
h2,
h3 {
  font-family: 'Source Sans Pro';
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.btn-blue:hover{
  background:#e4ebfd;
  ;
	color:#0D0F3A;

}
.icon {
  margin-left: 16px;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding-left: 80px;
  padding-right: 80px;
}
.header_inner {
  min-height: 94px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu_list {
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 49px;
  margin-right: 479px;
}
.menu_item {
  font-weight: 400;
}

.btn1 {
  font-family: "Source Sans Pro";
  background-color: #fff;
  border: 1px solid #3a36ec;
  border-radius: 200px;
  color: #3a36ec;
  padding: 12px 32px;
  font-size:18px;
}
.btn2 {
  font-family: "Source Sans Pro";
  background-color: #fff;
  border-radius: 200px;
  color: white;
  background: #3a36ec;
  padding: 12px 32px;
  font-size:18px;

}
.banner {
  background-image: url(../images/Rectangle\ 3684.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
}
.banner-cont {
  min-height: 700px;
  color: #0d0f3a;
  max-height: 1400px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-left: 40px;
}

.banner-title {
  margin-bottom: 20px;

  font-size: 64px;
  line-height: 80px;
  font-weight: 600;
  margin-top: 177px;
  max-width: 874px;
}
.banner-text {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  margin-top: 24px;
  max-width: 874px;
}
.btn-second {
  margin-top: 56px;
}
.btn3 {
  font-family: "Source Sans Pro";
  background-color: #fff;
 
  border-radius: 200px;
  color: #3a36ec;
  padding: 16px 48px;
}
.btn4 {
  font-family: "Source Sans Pro";
  background-color: #fff;
  border-radius: 200px;
  color: white;
  background: #3a36ec;
  padding: 16px 48px;
}
.blog-empty {
  max-width: 1600px;
  margin: 0 auto;
  padding-left: 80px;
  padding-right: 80px;
  content: "";
  min-height: 100px;
}
.container-quastion {
  max-width: 1600px;
  margin: 0 auto;
  padding-left: 80px;
  padding-right: 80px;
  min-height: 160px;
  background-color: #e4ebfd;
}
.text-quastion {
  font-size: 32px;
  font-family: "Source Sans Pro";
  display: flex;
  justify-content: center;
  align-items: center;
  height: 160px;
}

.container-desc {
  display: flex;
  max-width: 1600px;
  margin: 0 auto;
  padding-left: 80px;
  padding-right: 80px;
  min-height: 617px;
}

.number_paragraph{
  display: flex;
  align-items: center;
  font-size: 48px;
  

}
.title1{
  margin-left: 24px;

}
.block-img{
  margin-left: auto;
  
}
.block-text{
 
margin-top: 210px;
  gap:24px;
 
}
.text1 { 
  margin-top: 25px;
  max-width:588px;
  font-size: 22px;
  line-height: 33px;
}
.btn-blue{
  margin-top: 40px;
  background-color: #3A36EC;
  color: #FFFFFF;
  font-family: 'Source Sans Pro';
  padding: 17px 32px 17px 32px;
  border-radius: 200px;
  border: none;
  font-size: 18px;
  transition: background-color 1s ease;

}
.container-desc2{
  display: flex;
  max-width: 1600px;
  margin: 0 auto;
  padding-left: 80px;
  padding-right: 80px;

  min-height: 567px;
}
.block-img2{
  margin-right: auto;
}
.number_paragraph2{
  display: flex;
  align-items: center;
  font-size: 48px;


}
.text2{
  margin-top: 25px;
  max-width:588px;
  font-size: 22px;
  line-height: 33px;
}
 

.block-text2 {
  margin-left: 142px;
  margin-top: 160px;

}
.container-form{
 
  max-width: 1600px;
  margin: 0 auto;
  padding-left: 80px;
  padding-right: 80px;
  min-height: 752px;
  background-color:#E4EBFD;
 
}



.form-start{

  max-width: 764px;
  min-height: 552px;
  background-color:#C2D7FF;
  border-radius: 20px;
 
}
